table
  tr
    th title
    th note
  - each document in documents
    tr
      td
        a(href='/documents/#{document.id}/edit')=document.title
      td=document.created_at
p #{documents.length} documents
a(href='/documents/new') new page
